BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
SpaceBeforeParens: ControlStatements
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterClass: false
  AfterStruct: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: false